* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: rgb(241, 235, 235);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar img {
  display: inline-block;
  height: 35px;
  margin: 0 20px;
}
.navbar div > img {
  padding: 1px;
}
.main-content {
  background: lightgray;
  height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}
.main-content > div {
  padding: 5px;
}
footer {
  background: rgb(246, 240, 240);
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
}

a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
}

p {
  text-transform: capitalize;
}
