* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  line-height: 1rem;
}
.navbar {
  background: rgb(241, 235, 235);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar img {
  display: inline-block;
  height: 35px;
  margin: 0 20px;
}
.navbar div > img {
  padding: 1px;
}
.main-content {
  background: lightgray;
  height: 250vh;
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
}
.embed {
  margin: 2rem;
}
.side-thumbnail {
  padding-top: 0.8rem;
}
h4 {
  margin: 10px;
}
ul li {
  display: inline-block;
  padding: 1px;
  list-style-type: disc;
}
p {
  text-transform: capitalize;
}
.loading {
  height: 40px;
  text-align: center;
  margin-top: 1rem;
}
footer {
  background: rgb(246, 240, 240);
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
}
a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
}
a:hover {
  color: rgb(113, 139, 16);
}

@media screen and (max-width: 820px) {
  .main-content {
    flex-direction: column;
  }
}
