* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: rgb(241, 235, 235);
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar img {
  display: inline-block;
  height: 35px;
  margin: 0 20px;
}
.navbar div > img {
  padding: 1px;
}
.main-content {
  background: lightgray;
  height: 200vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
}
.main-content > div {
  padding: 5px;
}
ul li {
  display: inline-block;
  padding: 1px;
  list-style-type: disc;
}
footer {
  background: rgb(246, 240, 240);
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
}
p {
  text-transform: capitalize;
}

a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  color: black;
}
